<header>
  <h1><a href="#">TITLE</a></h1>
  <nav>
    <div class="toggle-menu">
      <a href="#">MENU</a>
    </div>
    <ul>
      <li><a href="#">nav1</a></li>
      <li><a href="#">nav2</a></li>
      <li><a href="#">nav3</a></li>
      <li><a href="#">nav4</a></li>
      <li><a href="#">nav5</a></li>
    </ul>
  </nav>
</header>
<section class="main">
  <article>
    Article01
  </article>
  <article>
    Article02
  </article>
  <article>
    <div class="thumbnail">
      <img src="http://bourbon.io/images/shared/bourbon-logo.png">
      <p>
        Thumbnail Thumbnail Thumbnail Thumbnail Thumbnail Thumbnail Thumbnail Thumbnail Thumbnail Thumbnail Thumbnail
      </p>
    </div>
  </article>
  <article>
    <div class="thumbnail">
      <img src="http://bourbon.io/images/shared/bourbon-logo.png">
      <p>
        Thumbnail Thumbnail Thumbnail Thumbnail Thumbnail Thumbnail Thumbnail Thumbnail Thumbnail Thumbnail Thumbnail
      </p>
    </div>
  </article>
  <article>
    <article>
        SubArticle SubArticle SubArticle SubArticle SubArticle SubArticle SubArticle SubArticle SubArticle SubArticle SubArticle
    </article>
    <article>
        SubArticle SubArticle SubArticle SubArticle SubArticle SubArticle SubArticle SubArticle SubArticle SubArticle SubArticle
    </article>
  </article>
  <article>
    <article>
        SubArticle SubArticle SubArticle SubArticle SubArticle SubArticle SubArticle SubArticle SubArticle SubArticle SubArticle
    </article>
    <article>
        SubArticle SubArticle SubArticle SubArticle SubArticle SubArticle SubArticle SubArticle SubArticle SubArticle SubArticle
    </article>
  </article>
</section>

<small>以下のフッターはrefillsのスニペットそのまま。</small>

<%= render 'refills/footer' %>
